<a href="https://colab.research.google.com/github/pnkcompany/Artificial_Intelligence/blob/main/19593_Priyanka_Muchandikar_AI_HW1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Patients id

id = [i for i in range(1,17)]

id

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16]

In [ ]:
#Patients Age

Age = [60, 61, 74, 57, 63, 68, 66, 77, 63, 54, 63, 76, 60, 61, 65, 79]

len(Age)

16

In [ ]:
#Patients Weights

Weights = [58, 90, 96, 72, 62, 79, 69, 96, 96, 54, 67, 99, 74, 73, 85, 80]

len(Weights)

16

In [ ]:
#Systolic Blood Pressure

SBP = [117, 120, 145, 129, 132, 130, 110, 163, 136, 115, 118, 132, 111, 112, 0, 0]

len(SBP)

16

In [ ]:
#Systolic Blood Pressure

SBP = [117, 120, 145, 129, 132, 130, 110, 163, 136, 115, 118, 132, 111, 112, 0, 0]

len(SBP)

16

In [ ]:
#importing LinearRegression
from sklearn.linear_model import LinearRegression

In [ ]:
#importing pandas module

import pandas as pd

data = {"Patient's id":id,"Age(Years)":Age, "Weight(Kg)":Weights, "SBP(mm Hg)":SBP}
#creating data frame
data = pd.DataFrame(data = data)
data

    Patient's id  Age(Years)  Weight(Kg)  SBP(mm Hg)
0              1          60          58         117
1              2          61          90         120
2              3          74          96         145
3              4          57          72         129
4              5          63          62         132
5              6          68          79         130
6              7          66          69         110
7              8          77          96         163
8              9          63          96         136
9             10          54          54         115
10            11          63          67         118
11            12          76          99         132
12            13          60          74         111
13            14          61          73         112
14            15          65          85           0
15            16          79          80           0

In [ ]:
#Taking x and y values

x = data[["Age(Years)", "Weight(Kg)"]]

y = data["SBP(mm Hg)"]

In [ ]:
#Taking train and test data

x_train = x[:14]

x_test = x[14:]

 
y_train = y[:14]

y_test = y[14:]

In [ ]:
#Applying LinearRegression

model = LinearRegression()

model.fit(x_train, y_train)

LinearRegression()

In [ ]:
#predicting remaining values

predica = model.predict(x_test)

In [ ]:
#printing predicted values

print(pred)

[129.01956696 142.76293569]